.advantage-revievs{
    @media (min-width: 1200px) {
        padding: 190PX 110px 0;
        background-image: url(/img/desktop/quotes.png);
        background-repeat: no-repeat;
        background-position: 50% 15%;
    }
}
.revievs{
    @media (min-width: 1200px) {
        margin: 0 auto;
        width: 688px;
    }
}
.revievs__list{
    
  
}
.revievs__title {
    margin-bottom: 31px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    @media (min-width: 665px) {
        order: 2;
        margin: 0;
    }
}



.revievs__title--text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: none;
    @media (min-width: 665px) {
        display: block;
        order: 3;
    }

}

.revievs__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 50px;
    @media (min-width: 665px) {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        order: 1;
    }
}


.slider__item {
    text-align: center;
    @media (min-width: 665px) {
        display: flex;
        flex-direction: column;
    }
  }

  .revievs__item{
    @media (min-width: 1200px) {
        
        
    }
  }