
.advantage__container-bg{
    background-image: url(/img/mob/grey-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 128px;
}


.advantage__title {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 120%;
margin-top: 46px;
text-align: center;
color: #283645;
@media (min-width: 665px){
    font-size: 40px;
    font-weight: 300;
   
    &+p{
        padding: 0 100px;
        margin: 0;
    }
}
}


.advantage-items__item {
    text-align: center;
    margin-bottom: 25px;
    padding: 0 20px;
    @media (min-width: 665px) {
        text-align: start;
    }
}

.advantage-items__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
}
.advantage-items__subtitle {font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.advantage-stats {
    display: none;
    @media (min-width: 665px) {
        display: flex;
        padding: 102px 0 109px;
        background-color: white;
       
       
    }
}
.advantage-stats__img {
    background-image: url(/img/TABLET/timer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 260px;
    height: 260px;
    flex: 1 0 50%;
}
.advantage-stats__wrapper {
}

.advantage-stats__title {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
}
.advantage-stats__promo {
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
}
.advantage-stats__link {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
text-decoration-line: underline;
color: #D22856;
}
.advantage__img{
    background-image: url(/img/mob/iphone.png);
    margin-left: auto;
    height: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 50px;
    margin-right: auto;
    position: relative;
    margin-top: -50px;
    
    
   
    @media (min-width: 665px) {
        background-image: url(/img/TABLET/iphone3.png);
        background-position-y: 60px;
        width: 268px;
        height: 547px;
        order: 1;
        flex: 1 0 49%;
        margin: 0;

    }
}
.advantage-items__wrapper{
    @media (min-width: 665px) {
        display: flex;
        justify-content: space-between;
       
}
}
.advantage-items__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 123px;
    @media (min-width: 665px) {
    order: 2;
    
    }
    
}