
.advantage__container-bg{
    background-image: url(/img/mob/grey-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 128px;
}


.advantage__title {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 120%;
margin-top: 46px;
text-align: center;
color: #283645;
@media (min-width: 665px){
    font-size: 40px;
    font-weight: 300;
   
    &+p{
        padding: 0 100px;
        margin: 0;
    }
}
}

.advantage-items__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 123px;
    
}
.advantage-items__item {
    text-align: center;
    margin-bottom: 25px;
    padding: 0 20px;
}

.advantage-items__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.advantage-items__subtitle {font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.advantage-stats {
    display: none;
}

.advantage__img{
    
    margin-left: auto;
    margin-right: auto;
    position: relative;
    & img{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    &::after{
        content: " ";
        position: absolute;
        width: 320px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        bottom: 0;
        
    }
}