.filter__btn {
    width: 280px;
    padding: 16px;
    display: inline-block;
    background-color: transparent;
    border: 3px solid #D22856;
    border-radius: 30px;
    color: red;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 12px;
    position: relative;

    &::after {
        content: " ";
        height: 2px;
        width: 320px;
        display: inline-block;
        background: #283645;
        opacity: 0.1;
        position: absolute;
        top: -40px;
        left: -22px;
    }
}

.filter {}

.filter__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    padding: 49px 30px 52px 30px;
    text-align: center;
}

.filter__wrapper {
    padding: 20px 20px 40px 20px;
    background: #F2F2F2;
}

.filter__img {}

.filter__list {
    display: flex;

    padding: 37px;
}

.filter__item {
    display: flex;
    margin-right: 35px;

    &:last-child {
        margin: 0;
    }
}

.filter__item-container {
    display: flex;
    align-items: center;
}

.filter-item__btn {
    display: block;
    width: 45px;
    height: 45PX;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.filter-item__btn--crop {
    background-image: url(/img/mob/crop.svg);
}

.filter-item__btn--fill {
    background-image: url(/img/mob/fill.svg);
}

.filter-item__btn--contrast {
    background-image: url(/img/mob/contrast.svg);
}



.filter__slider {
    margin-bottom: 73px;
    margin-left: 20px;
    height: 2px;
    width: 240px;
    display: inline-block;
    background: #283645;
    position: relative;

    &::before {
        content: " ";
        border-radius: 50%;
        width: 14px;
        height: 14px;
        background-color: white;
        border: 2px solid #D22856;
        display: inline-block;
        position: absolute;
        top: -7px;
        left: 80px;
        cursor: pointer;
    }

}

.filter__slider--item {
    display: none;
}

.filter__btn {}

.filter__btn-disabeled {
    color: #283645;
    opacity: 0.1;
}