.offer {
    color: white;
    display: flex;
    flex-direction: column;

    @media (min-width: 665px) {
        width: 320px;
    }
    @media (min-width: 1200px){
        padding: 50px 486px 0 174px;
    }
}

.offer__wrapper {

    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 320px;
    background-image: url(/img/mob/hands.png);
    background-repeat: no-repeat;
    background-position: 50% 90%;

    & .offer__title {
        padding-top: 30px;
    }

    @media (min-width: 665px) {
        background-image: none;
        padding: 0;

        & .offer__title {
            padding: 60px 50px 40px 50px;
            font-weight: 300;
            font-size: 40px;
            line-height: 120%;
        }
    }

    @media (min-width: 1200px) {
        padding: 0;

        & .offer__title {
            padding: 0 50px ;
            font-weight: 300;
            font-size: 50px;
            line-height: 68px;
        }
    }
}

.offer__title {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 24px;
    line-height: 29px;
    color: white;

}

.offer-download {

    color: white;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: CENTER;

}

.offer-download__button {
    width: 280px;
    padding: 16px;
    display: inline-block;
    margin-bottom: 32px;

}

.offer-download__list {
    display: flex;
    margin-left: 58px;
    list-style-type: none;
    margin-bottom: 28px;
    align-items: center;
}

.offer-download__item {
    margin-right: 32px;

}

.offer-download__subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 38px;
    padding: 0 40px;
    display: inline-block;

    @media (min-width: 665px) {
        font-size: 18px;
        padding: 0;
    }
}