.promo__wrapper {


    background-image: url(/img/mob/bc-main-mob.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 0px;
    background-size: contain;
     background-color:#1D2631; 
    @media (min-width: 665px) {
        background-image: url(/img/TABLET/tablethand.png),
            url(/img/TABLET/back-tablet.png);
        background-repeat: no-repeat;
        background-position: 50% 100%, 50% 0;
        min-height: 730px;
    }

}

.catalog {
    background-size: cover;
}

// background-image: url(/img/mob/hands.png);