.revievs-catalog {
    padding-top: 54px;
}

.revievs__title {
    @media (min-width: 665px) {
        padding: 40px 80px 80px;
    }
    @media (min-width: 1200px) {
        padding: 40px 80px 80px;
        margin: 0 auto;
        width: 580px;
        font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-transform: none;
    }
}

.revievs-catalog__list {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    @media (min-width: 1200px) {
        row-gap: 50px;
    }
}

.revievs-catalog__item {
    display: flex;
    flex-direction: column;
    width: 280px;
    @media (min-width: 665px) {
        width: 300PX;
      
    }

}



.revievs-catalog__container {
    display: flex;
    align-items: center;

}

.revievs-catalog__img--hit {
    background-image: url("/img/mob/panorama-mob.png");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: contain;
    width: 320px;
    height: 127px;
    background-position: center;
    margin: 0 auto;
    @media (min-width: 665px) {
        width: 660PX;
        height: 509px;
        background-image: url(/img/TABLET/panorama-tablet.png);
    }
    @media (min-width: 1200px) {
        width: 1200PX;
        height: 509px;
        background-image: url(/img/desktop/panorama-desktop.png);
    }
}

.revievs-catalog__item--hit {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 25px 10px 25px 17px;
    background-color: #F2F2F2;
    @media (min-width: 1200px) {
        margin: 0 130px 20px;
    }

}

.revievs-item__wrapper {
    padding: 25px 10px 25px 17px;
    background-color: #F2F2F2;
    @media (min-width: 665px) {
        height: 155px;
        display: flex;
        flex-direction: column;
    }
}

.revievs-catalog__img {
    width: 280PX;
    height: 180PX;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    @media (min-width: 665px) {
        width: 300PX;
        height: 300px;
    }
    @media (min-width: 1200px) {
        width: 300PX;
        height: 400px;
    }
    
}

.revievs-catalog__img-1 {
    background-image: url(/img/mob/photo-1-mobile.png);
    @media (min-width: 665px) {
        background-image: url(/img/TABLET/photo-1-tablet.png);
    }
    @media (min-width: 1200px) {
        background-image: url(/img/desktop/photo-1-desktop.png);
    }
}

.revievs-catalog__img-2 {
    background-image: url(/img/mob/photo-2-mobile.png);
    @media (min-width: 665px) {
        background-image: url(/img/TABLET/photo-2-tablet.png);
    }

     @media (min-width: 1200px) {
        background-image: url(/img/desktop/photo-2-desktop.png);
    }
}

.revievs-catalog__img-3 {
    background-image: url(/img/mob/photo-3-tablet.png);
    @media (min-width: 665px) {
        background-image: url(/img/TABLET/photo-3-tablet.png);
    }

     @media (min-width: 1200px) {
        background-image: url(/img/desktop/photo-3-desktop.png);
    }
}

.revievs-catalog__img-4 {
    background-image: url(/img/mob/photo-4-tablet.png);
    @media (min-width: 665px) {
        background-image: url(/img/TABLET/photo-4-tablet.png);
    }

     @media (min-width: 1200px) {
        background-image: url(/img/desktop/photo-4-desktop.png);
    }
}

.revievs-catalog__img-5 {
    background-image: url(/img/mob/photo-5-tablet.png);
    @media (min-width: 665px) {
        background-image: url(/img/TABLET/photo-5-tablet.png);
    }

     @media (min-width: 1200px) {
        background-image: url(/img/desktop/photo-5-desktop.png);
    }
}

.revievs-catalog__img-6 {
    background-image: url(/img/mob/photo-6-tablet.png);
    @media (min-width: 665px) {
        background-image: url(/img/TABLET/photo-6-tablet.png);
    }

     @media (min-width: 1200px) {
        background-image: url(/img/desktop/photo-6-desktop.png);
    }
}

.revievs-catalog__title {
    padding-right: 3px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
   
}

.revievs-catalog__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
}

.revievs-catalog__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 27px;
    margin-top: 14px;
    display: block;
    @media (min-width: 665px) {
       flex: 1 0;
       padding: 0;
    }
}

.revievs-catalog__like {
    margin-right: 18px;
    width: 15px;
    height: 15px;
    background-image: url(/img/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.revievs-catalog__like-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: red;
    text-transform: uppercase;
    padding-left: 3px;
}